<div>

    <ion-searchbar [(ngModel)]="searchText"
                   placeholder="Filtra como un champion"
                   style="max-width: 450px; margin: auto;"></ion-searchbar>

    <button
        (click)="quitarPalabras()"
        ion-button
        class="botonCircular"
        color="dark"
        round>
        quitar
    </button>

    <ion-grid>
        <ion-row>
            <ion-col
                *ngFor="let boton of botones | filtro : searchText">
                <table style="margin: auto">
                    <tr>
                        <td>
                            <button
                                (click)="play('./assets/sonidos/' + boton.nombreArchivo)"
                                ion-button
                                class="botonCircular"
                                [ngClass]="{letraChica : boton.letraChica}"
                                color="dark"
                                round>
                                {{boton.nombreBoton}}
                            </button>
                        </td>
                        <td>
                            <button
                                (click)="compartir(boton.nombreArchivo)"
                                ion-button
                                class="botonCompartir"
                                round>
                                <ion-icon
                                    name="md-share"></ion-icon>
                            </button>
                        </td>
                    </tr>
                </table>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br>

    Directiva:

    <div *ngFor="let x of palabras">
        {{x}}

    </div>
</div>
