<ion-header>
    <ion-navbar id="navbarHome">
        <button ion-button
                menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div class="tituloMenu">
                Juegazo
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div id="juego"></div>
    <br>
    <button
        *ngIf="!mostrarBotonMobile"
        onmousedown="accelerate(-0.2)"
        onmouseup="accelerate(0.05)"
        ion-button
        round>
        PRESIONAME!
    </button>

    <button
        *ngIf="mostrarBotonMobile"
        (touchstart)="subir(-0.2)"
        (touchend)="subir(0.05)"
        ion-button
        round>
        PRESIONAME!
    </button>
</ion-content>
