<br>
<h1>{{titulo}}</h1>
<hr>
<div class="row animated fadeIn fast"
     *ngIf="peliculas">

    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12 div-pic-1 mano"
                 [routerLink]="['/ver', peliculas[0].id, 'home', 'texto']"
                 [ngStyle]="{'background-image' : 'url(' + (peliculas[0] | urlPelicula )+')'}">
                <p class="pic-titulo rounded">{{peliculas[0].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 div-pic-2 mano"
                 [routerLink]="['/ver', peliculas[1].id, 'home', 'texto']"
                 [ngStyle]="{'background-image' : 'url(' + (peliculas[1] | urlPelicula )+')'}">
                <p class="pic-titulo rounded">{{peliculas[1].original_title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 mano"
                 [routerLink]="['/ver', peliculas[2].id, 'home', 'texto']"
                 [ngStyle]="{'background-image' : 'url(' + (peliculas[2] | urlPelicula )+')'}">
                <p class="pic-titulo rounded">{{peliculas[2].original_title}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6 div-pic-2 mano"
                 [routerLink]="['/ver', peliculas[3].id, 'home', 'texto']"
                 [ngStyle]="{'background-image' : 'url(' + (peliculas[3] | urlPelicula )+')'}">
                <p class="pic-titulo rounded">{{peliculas[3].original_title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 mano"
                 [routerLink]="['/ver', peliculas[4].id, 'home', 'texto']"
                 [ngStyle]="{'background-image' : 'url(' + (peliculas[4] | urlPelicula )+')'}">
                <p class="pic-titulo rounded">{{peliculas[4].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 div-pic-1 mano"
                 [routerLink]="['/ver', peliculas[5].id, 'home', 'texto']"
                 [ngStyle]="{'background-image' : 'url(' + (peliculas[5] | urlPelicula )+')'}">
                <p class="pic-titulo rounded">{{peliculas[5].original_title}}</p>
            </div>
        </div>
    </div>
</div>
