<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lista de Terminadas
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-grid *ngIf="!(listaDeseosService.listas| pendientes:true).length">
        <ion-row>
            <ion-col class="text-center caja-vacia">
                <ion-icon class="icono-grande"
                          ios="ios-sunny"
                          md="md-sunny"></ion-icon>
                <p>
                    No hay ninguna lista
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card *ngFor="let lista of listaDeseosService.listas | pendientes: true; let i = index">

        <ion-item color="dark"
                  (click)="verDetalle(lista, i)">
            <ion-label>{{lista.nombre}}</ion-label>
            <ion-note slot="end"
                      color="light">
                {{lista.items.length}} items
            </ion-note>
        </ion-item>


        <ion-list>
            <ion-item (click)="verDetalle(lista, i)"
                      *ngFor="let item of lista.items | slice:0:2">
                <ion-icon *ngIf="!item.completado"
                          ios="ios-square-outline"
                          md="md-square-outline"></ion-icon>
                <ion-icon *ngIf="item.completado"
                          ios="ios-checkbox-outline"
                          md="md-checkbox-outline"></ion-icon>
                {{item.nombre}}
            </ion-item>

            <ion-item class="text-center"
                      *ngIf="lista.items.length > 2">
                <ion-icon color="primary"
                          ios="ios-arrow-dropdown"
                          md="md-arrow-dropdown"></ion-icon>
            </ion-item>

        </ion-list>
    </ion-card>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- List of Text Items -->
    <ion-list>
        <ion-item>
            <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Super Mario World</ion-label>
        </ion-item>
    </ion-list>

    <!--&lt;!&ndash; List of Input Items &ndash;&gt;-->
    <!--<ion-list>-->
    <!--<ion-item>-->
    <!--<ion-label>Input</ion-label>-->
    <!--<ion-input></ion-input>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
    <!--<ion-label>Toggle</ion-label>-->
    <!--<ion-toggle slot="end"></ion-toggle>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
    <!--<ion-label>Radio</ion-label>-->
    <!--<ion-radio slot="end"></ion-radio>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
    <!--<ion-label>Checkbox</ion-label>-->
    <!--<ion-checkbox slot="start"></ion-checkbox>-->
    <!--</ion-item>-->
    <!--</ion-list>-->


    <!--<br>-->

    <ion-content>

        <!-- Fixed Floating Action Button that does not scroll with the content -->
        <ion-fab>
            <ion-fab-button>Button</ion-fab-button>
        </ion-fab>

        <!-- Default Floating Action Button that scrolls with the content.-->
        <ion-fab-button>Default</ion-fab-button>

        <!-- Mini -->
        <ion-fab-button size="small">Mini</ion-fab-button>

        <!-- Colors -->
        <ion-fab-button color="primary">Primary</ion-fab-button>
        <ion-fab-button color="secondary">Secondary</ion-fab-button>
        <ion-fab-button color="danger">Danger</ion-fab-button>
        <ion-fab-button color="light">Light</ion-fab-button>
        <ion-fab-button color="dark">Dark</ion-fab-button>

    </ion-content>
    <ion-content>

        <!-- Fixed Floating Action Button that does not scroll with the content -->
        <ion-fab>
            <ion-fab-button>Button</ion-fab-button>
        </ion-fab>

        <!-- Default Floating Action Button that scrolls with the content.-->
        <ion-fab-button>Default</ion-fab-button>

        <!-- Mini -->
        <ion-fab-button size="small">Mini</ion-fab-button>

        <!-- Colors -->
        <ion-fab-button color="primary">Primary</ion-fab-button>
        <ion-fab-button color="secondary">Secondary</ion-fab-button>
        <ion-fab-button color="danger">Danger</ion-fab-button>
        <ion-fab-button color="light">Light</ion-fab-button>
        <ion-fab-button color="dark">Dark</ion-fab-button>

    </ion-content>
</ion-content>
