<div class="container">


    <app-galeria titulo="Peliculas En cartelera"
                 [peliculas]="peliculasEnCartelera | slice:0:6"></app-galeria>

    <!--<div class="row">-->
    <!--<div class="col-md-4"-->
    <!--*ngFor="let x of peliculasEnCartelera">-->
    <!--<img *ngIf="x.poster_path"-->
    <!--src="{{URL_IMAGEN + x.poster_path}}"-->
    <!--alt=""-->
    <!--class="rounded float-left"-->
    <!--style="margin-bottom: 5px; cursor: pointer"-->
    <!--(click)="verPelicula(x.id)"-->
    <!--[routerLink]="['/ver', x.id, 'home', '']">-->
    <!--</div>-->
    <!--</div>-->
    <app-galeria titulo="Peliculas Populares"
                 [peliculas]="peliculasPopulares | slice:0:6"></app-galeria>
    <!--<div class="row">-->
    <!--<div class="col-md-4"-->
    <!--*ngFor="let x of peliculasPopulares">-->
    <!--<img *ngIf="x.poster_path"-->
    <!--src="{{URL_IMAGEN + x.poster_path}}"-->
    <!--alt=""-->
    <!--class="rounded float-left"-->
    <!--style="margin-bottom: 5px; cursor: pointer"-->
    <!--[routerLink]="['/ver', x.id, 'home', '']">-->
    <!--</div>-->
    <!--</div>-->
    <app-galeria titulo="Peliculas Para Populares Chicos"
                 [peliculas]="peliculasPopularesChicos | slice:0:6"></app-galeria>
    <!--<div class="row">-->
    <!--<div class="col-md-4"-->
    <!--*ngFor="let x of peliculasPopularesChicos">-->
    <!--<img *ngIf="x.poster_path"-->
    <!--src="{{URL_IMAGEN + x.poster_path}}"-->
    <!--alt=""-->
    <!--class="rounded float-left"-->
    <!--style="margin-bottom: 5px; cursor: pointer"-->
    <!--[routerLink]="['/ver', x.id, 'home', '']">-->
    <!--</div>-->
    <!--</div>-->

</div>
