<div class="container main-container">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar</label>
                <input type="text"
                       name="texto"
                       value=""
                       class="form-control"
                       placeholder="Titulo"
                       [(ngModel)]="texto"
                       (keyup.enter)="buscar(texto)">
            </div>
        </div>
    </div>
    <div class="row animated fadeIn fast">
        <div class="card-columns">
            <div class="card"
                 *ngFor="let x of peliculasService.peliculasBuscadas">
                <img class="card-img-top"
                     [src]="x | urlPelicula"
                     [alt]="x.original_title">
                <div class="card-body">
                    <h5 class="card-title">{{x.original_title}}</h5>
                    <p class="card-text text-justify">{{x.overview | slice:0:250}}...</p>
                </div>

                <button type="button"
                        class="btn btn-outline-primary btn-block"
                        [routerLink]="['/ver', x.id, 'buscar', texto]">
                    Ver Mas
                </button>
            </div>
        </div>
    </div>

</div>
