npm
<div class="container">
  <br>
  <h1>Pipes</h1> ng install
  <hr>


  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{nombre}} </td>
        <td> uppercase </td>
        <td> {{nombre | uppercase}} </td>
      </tr>
      <tr>
        <td> {{nombre}} </td>
        <td> lowercase </td>
        <td> {{nombre | lowercase}} </td>
      </tr>
      <tr>
        <td> {{nombre}} </td>
        <td> slice: 3 </td>
        <td> {{nombre | slice: 3 }} </td>
      </tr>
      <tr>
        <td> {{nombre}} </td>
        <td> slice: 0:3 </td>
        <td> {{nombre | slice: 0:3 }} </td>
      </tr>
      <tr>
        <td> {{lista}}</td>
        <td> slice: 1:5 </td>
        <td> {{lista | slice: 1:5 }} </td>
      </tr>
      <tr>
        <td> {{PI}}</td>
        <td> number:'3.0-0' </td>
        <td> {{PI | number:'3.0-0'}} </td>
      </tr>
      <tr>
        <td> {{PI}}</td>
        <td> number:'1.0-2' </td>
        <td> {{PI | number:'1.0-2'}} </td>
      </tr>
      <tr>
        <td> {{a}}</td>
        <td> percent:'2.2-2' </td>
        <td> {{a | percent:'2.2-2'}} </td>
      </tr>
      <tr>
        <td> {{salario}}</td>
        <td> currency </td>
        <td> {{salario | currency}} </td>
      </tr>
      <tr>
        <td> {{salario}}</td>
        <td> currency:'EUR' </td>
        <td> {{salario | currency:'EUR'}} </td>
      </tr>
      <tr>
        <td> {{salario}}</td>
        <td> currency:'EUR':true </td>
        <td> {{salario | currency:'EUR':true}} </td>
      </tr>
      <tr>
        <td> {{salario}}</td>
        <td> currency:'EUR':true:'4.0-0' </td>
        <td> {{salario | currency:'EUR':true:'4.0-0'}} </td>
      </tr>
      <tr>
        <td> {{salario}}</td>
        <td> number </td>
        <td> {{salario | number:'.2-2'}} </td>
      </tr>
      <tr>
        <td> {{valorDePromesa}}</td>
        <td> (sin pipe) </td>
        <td> {{valorDePromesa}} </td>
      </tr>
      <tr>
        <td> {{valorDePromesa}}</td>
        <td> async </td>
        <td> {{valorDePromesa | async}} </td>
      </tr>
    </tbody>
  </table>


  <h4>Slice</h4>
  <table>
    <ul>
      <li *ngFor="let item of lista | slice:5:20">{{item}}</li>
    </ul>
  </table>


  <h4>Json</h4>
  <pre>
  {{persona | json}}
  </pre>



  <h4>YouTube <small>video</small></h4>
  <hr>
  <iframe width="560"
      height="315"
      src="{{video}}"
      frameborder="0"
      allowfullscreen></iframe>




</div>
<br><br><br><br><br><br><br><br>
